
<mat-card class="card-oas">

    <mat-card-header>

        <mat-card-title>BUSCAR ELEMENTO</mat-card-title>


    </mat-card-header>
    <form [formGroup]="formBuscar" (ngSubmit)="buscarElemento()">
        <mat-card-content>
            <mat-form-field appearance="fill" [style.width.%]="100">   
                <input matInput type="text" formControlName="id">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Buscar Por:</mat-label>
                <mat-select formControlName="tipoBusqueda" >
                    <mat-option selected value="PLACA">PLACA</mat-option>
                    <mat-option value="DESCRIPCION">DESCRIPCION</mat-option>
                    <mat-option value="ID">ID</mat-option>    
                </mat-select>
               
            </mat-form-field>
           
                
           
        </mat-card-content>
        <mat-card-actions>
            <div style="margin: 1rem;">
                <button  mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3">
                    Buscar
                </button>
            </div>
        </mat-card-actions>
    </form>
</mat-card>
<br>
<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>ELEMENTOS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <div class="div-table" style="text-align:center">
        <b><span></span></b>
        <ng2-smart-table [settings]="settingsElementos" [source]="sourceElementos" (userRowSelect)="onRowSelect($event)" >
        </ng2-smart-table>
    </div> 
        </mat-card-content>
    
</mat-card>
<br>
<mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 2, lg: 2, xl: 2}" rowHeight="290px" gutterSize="10px" >
    <mat-grid-tile colspan="1" rowspan="3">

    <mat-card class="card-oas">
        <mat-card-header>
    
            <mat-card-title>ELEMENTO</mat-card-title>
    
    
        </mat-card-header>
        
      
            <mat-card-content>
                <mat-grid-list [appOasGridCols]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}" rowHeight="60px" gutterSize="10px">
                    <mat-grid-tile>
                        <mat-form-field appearance="fill" [style.width.%]="100">
                            <mat-label>ID</mat-label>
                            <input matInput type="number" value="{{elemento.Id}}" disabled>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>FECHA REGISTRO</mat-label>
                        <input matInput type="text"
                            value="{{elemento.FechaRegistro}}"
                            disabled>
                    </mat-form-field>
                </mat-grid-tile>
                    <mat-grid-tile>
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>DESCRIPCIÓN</mat-label>
                        
                        <textarea matInput [(ngModel)]="elemento.Descripcion"  cdkTextareaAutosize
                        cdkAutosizeMinRows="2"
                          disabled></textarea>
                           
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>TIPO BIEN</mat-label>
                        <input matInput type="text" [value]="elemento.TipoBien" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>CANTIDAD</mat-label>
                        <input matInput type="number" value="{{elemento.Cantidad}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>UNIDAD</mat-label>
                        <input matInput type="text" value="{{elemento.Unidad}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>VALOR</mat-label>
                        <input matInput type="number" value="{{elemento.Valor}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>IVA</mat-label>
                        <input matInput type="text" value="{{elemento.Iva}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>SUBTOTAL</mat-label>
                        <input matInput type="number" value="{{elemento.Subtotal}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>TOTAL IVA</mat-label>
                        <input matInput type="number" value="{{elemento.TotalIva}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
            
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>TOTAL CON IVA</mat-label>
                        <input matInput type="number" value="{{elemento.TotalConIva}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>VIDA UTIL</mat-label>
                        <input matInput type="number" value="{{elemento.VidaUtil}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>
                
            
                   
                
         
                </mat-grid-list>
          
    
        </mat-card-content>
           
     
        
    </mat-card>
    <br>
            <br>
            <br>

</mat-grid-tile>

<mat-grid-tile>
   
<mat-card class="card-oas" *ngIf="entrada"  colspan="1" rowspan="1" >
    <mat-card-header>
        <mat-card-title>ENTRADA</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 2, lg: 3, xl: 4}" rowHeight="40px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>VIGENCIA</mat-label>
                    <input matInput type="text" value="{{entrada.Vigencia}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>N° ENTRADA</mat-label>
                    <input matInput type="text" value="{{entrada.Consecutivo}} " disabled>
                </mat-form-field>
            </mat-grid-tile>
           
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>TIPO CONTRATO</mat-label>
                    <input matInput type="text" value="{{entrada.TipoContrato}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>PROVEEDOR</mat-label>
                    <input matInput type="text" value="{{entrada.Proveedor}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>FECHA INGRESO</mat-label>
                    <input matInput type="text" value="{{entrada.FechaRegistro}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <br>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>N° CONTRATO</mat-label>
                    <input matInput type="text" value="{{entrada.NumeroContrato}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>FACTURA</mat-label>
                    <input matInput type="text" value="{{entrada.NumeroFactura}}" disabled>
                </mat-form-field>
            </mat-grid-tile>  
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>CUENTA ENTRADA</mat-label>
                    <input matInput type="text" value="{{entrada.CuentaEntrada}}" disabled>
                </mat-form-field>
            </mat-grid-tile>  
            
        </mat-grid-list>
     </mat-card-content>
</mat-card>
</mat-grid-tile>
<mat-grid-tile>
<mat-card class="card-oas" *ngIf="salida"  colspan="1" rowspan="1">
    <mat-card-header>
        <mat-card-title>SALIDA</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 2, lg: 3, xl: 4}" rowHeight="40px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>VIGENCIA</mat-label>
                    <input matInput type="text" value="{{salida.Vigencia}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>N° SALIDA</mat-label>
                    <input matInput type="text" value="{{salida.Consecutivo}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
            <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>FECHA SALIDA </mat-label>
                    <input matInput type="text" value="{{salida.FechaRegistro}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>SEDE  </mat-label>
                    <input matInput type="text" value="{{salida.Sede}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>DEPENDENCIA  </mat-label>
                    <input matInput type="text" value="{{salida.Dependencia}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>FUNCIONARIO   </mat-label>
                    <input matInput type="text" value="{{salida.Funcionario}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>UBICACIÓN   </mat-label>
                    <input matInput type="text" value="{{salida.Ubicacion}}" disabled>
                </mat-form-field>
            </mat-grid-tile>
           
            <mat-grid-tile>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>CUENTA SALIDA</mat-label>
                    <input matInput type="text" value="{{salida.CuentaSalida}}" disabled>
                </mat-form-field>
            </mat-grid-tile>  
             
        </mat-grid-list>
    </mat-card-content>

</mat-card>
</mat-grid-tile>
<mat-grid-tile  colspan="1" rowspan="1">
    <mat-card class="card-oas">
        <mat-card-header>
    
            <mat-card-title>NUEVO REGISTRO</mat-card-title>
    
    
        </mat-card-header>
        
        <form [formGroup]="formElemento" (ngSubmit)="save()">
            <mat-card-content>
                <mat-grid-list [appOasGridCols]="{xs: 1, sm: 2, md: 2, lg: 2, xl: 2}" rowHeight="40px" gutterSize="10px">
                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <mat-label>NUEVA FECHA SALIDA</mat-label>
                        <input formControlName="nuevafechasalida" matInput [matDatepicker]="datepicker" value="{{elemento.NuevaFechaSalida}}">
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancelar</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                    
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>NUEVO VALOR</mat-label>
                        <input formControlName="nuevovalor" matInput type="number" value="{{elemento.NuevoValor}}" >
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>NUEVA VIDA UTIL</mat-label>
                        <input formControlName="nuevavidautil" matInput type="number" value="{{elemento.NuevaVidaUtil}}" >
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>NUEVO VALOR RESIDUAL</mat-label>
                        <input formControlName="nuevovalorresidual" matInput type="number" value="{{elemento.NuevoValorResidual}}" >
                    </mat-form-field>
                </mat-grid-tile>
                
                     
               
                    </select>
                  </mat-form-field>
                  <section class="example-section">
                    <mat-checkbox class="example-margin">baja</mat-checkbox>
                    
                  </section>
                </mat-grid-list>
                
                <mat-form-field appearance="fill">
                    <mat-label>Cuenta Salida</mat-label>
                    <select matNativeControl required>
                      <option value="16800206">16800206</option>
                      <option value="83900730">83900730</option>
                      <option value="16750213">16750213</option>
                      <option value="83900726">83900726</option>
                      <option value="1715050101">1715050101</option>
                      <option value="51111404">51111404</option>
                      <option value="51112102">51112102</option>
                      <option value="51111401">51111401</option>
                      <option value="16700107">16700107</option>
                      <option value="1715050102">1715050102</option>
                      <option value="51114602">51114602</option>
                      <option value="16550108">16550108</option>
                      <option value="83900725">83900725</option>
    
        </mat-card-content>
            <mat-card-actions>
                <div style="margin: 1rem;">
                    <button  mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3">
                        GUARDAR
                    </button>
                </div>
            </mat-card-actions>
        </form>
        
    </mat-card>
</mat-grid-tile>
<mat-grid-tile>
    <mat-card class="card-oas" *ngIf="salida"  colspan="1" rowspan="1">
        <mat-card-header>
            <mat-card-title>DEPRECIACIÓN KYRON</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card-oas" *ngIf="salida"  colspan="1" rowspan="1">
            <mat-card-header>
                <mat-card-title>NUEVA DEPRECIACIÓN</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        
        </mat-card>
        </mat-grid-tile>
